.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    331deg,
    rgba(2, 0, 36, 1) 26%,
    rgba(9, 9, 121, 1) 72%,
    rgba(255, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.o {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
